<p style="color: green"><%= notice %></p>

<div class="mt-4 p-5 bg-secondary text-white rounded">
    <h1>
      <%= @friend.first_name %>
      <%= @friend.last_name %>
    </h1>
    <p>Lorem ipsum...</p>

  <div>
    <%= link_to "Edit", edit_friend_path(@friend), class: "btn btn-secondary" %>
    <%= link_to "Back", friends_path, class: "btn btn-dark" %>
  </div>
</div>

<%= render @friend %>
